Help4Traveling-mobile/src/conf/xml-resources/web-services/ws/wsdl/localhost_9130/publicadorWeb.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://localhost:9130/publicadorWeb?xsd=1"></xsd:import>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:9130/publicadorWeb?xsd=2"></xsd:import>
</xsd:schema>
</types>
<message name="actualizarEstadoArticulo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="actualizarEstadoArticuloResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="autenticarCliente">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="autenticarClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="VerificarEmailCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="VerificarEmailClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="agregarImagenCliente">
<part name="arg0" type="tns:inputStream"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="agregarImagenClienteResponse"></message>
<message name="listarProveedoresDatos"></message>
<message name="listarProveedoresDatosResponse">
<part name="return" type="tns:dtProveedorArray"></part>
</message>
<message name="ObtenerDatosServicio">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="ObtenerDatosServicioResponse">
<part name="return" type="tns:dtServicio"></part>
</message>
<message name="VerificarNickCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="VerificarNickClienteResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="ObtenerDatosReserva">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="ObtenerDatosReservaResponse">
<part name="return" type="tns:dtInfoReservaArray"></part>
</message>
<message name="devolverProveedor">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="devolverProveedorResponse">
<part name="return" type="tns:dtProveedor"></part>
</message>
<message name="listarReservasXprov">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarReservasXprovResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:intArray"></part>
</message>
<message name="listarPromocionesXprov">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarPromocionesXprovResponse">
<part name="return" type="tns:dtPromocionArray"></part>
</message>
<message name="autenticarProveedor">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="autenticarProveedorResponse">
<part name="return" type="xsd:int"></part>
</message>
<message name="listarServiciosXprov">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarServiciosXprovResponse">
<part name="return" type="tns:dtServicioArray"></part>
</message>
<message name="listarProveedores"></message>
<message name="listarProveedoresResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"></part>
</message>
<message name="listarPromociones"></message>
<message name="listarPromocionesResponse">
<part name="return" type="tns:dtPromocionArray"></part>
</message>
<message name="agregarRegistro">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="agregarRegistroResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="agregarVisita">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="agregarVisitaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getImagenUsu">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getImagenUsuResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<message name="devolverCliente">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="devolverClienteResponse">
<part name="return" type="tns:dtCliente"></part>
</message>
<message name="devolverReserva">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="devolverReservaResponse">
<part name="return" type="tns:dtReserva"></part>
</message>
<message name="ObtenerReservas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="ObtenerReservasResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:intArray"></part>
</message>
<message name="listarReservas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarReservasResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:intArray"></part>
</message>
<message name="serviciosXcat">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="serviciosXcatResponse">
<part name="return" type="tns:dtServicioArray"></part>
</message>
<message name="cancelarReserva">
<part name="arg0" type="xsd:int"></part>
</message>
<message name="cancelarReservaResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="EsServicio">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="EsServicioResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="getImagenArt">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="getImagenArtResponse">
<part name="return" type="xsd:base64Binary"></part>
</message>
<message name="listarCategorias"></message>
<message name="listarCategoriasResponse">
<part name="return" type="tns:dtCategoriaArray"></part>
</message>
<message name="datosPromocion">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="datosPromocionResponse">
<part name="return" type="tns:dtPromocion"></part>
</message>
<message name="agregarRes">
<part name="arg0" type="tns:estado"></part>
<part name="arg1" type="tns:dtFecha"></part>
<part name="arg2" type="tns:dtInfoReservaArray"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:float"></part>
</message>
<message name="agregarResResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="serviciosXprov">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="serviciosXprovResponse">
<part name="return" type="tns:dtServicioArray"></part>
</message>
<message name="verPerfil">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="verPerfilResponse">
<part name="return" type="tns:dtCliente"></part>
</message>
<message name="agregarCliente">
<part name="arg0" type="tns:dtCliente"></part>
</message>
<message name="agregarClienteResponse"></message>
<message name="listarServicios"></message>
<message name="listarServiciosResponse">
<part name="return" type="tns:dtServicioArray"></part>
</message>
<portType name="Publicador">
<operation name="actualizarEstadoArticulo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/actualizarEstadoArticuloRequest" message="tns:actualizarEstadoArticulo"></input>
<output wsam:Action="http://servidor/Publicador/actualizarEstadoArticuloResponse" message="tns:actualizarEstadoArticuloResponse"></output>
</operation>
<operation name="autenticarCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/autenticarClienteRequest" message="tns:autenticarCliente"></input>
<output wsam:Action="http://servidor/Publicador/autenticarClienteResponse" message="tns:autenticarClienteResponse"></output>
</operation>
<operation name="VerificarEmailCliente">
<input wsam:Action="http://servidor/Publicador/VerificarEmailClienteRequest" message="tns:VerificarEmailCliente"></input>
<output wsam:Action="http://servidor/Publicador/VerificarEmailClienteResponse" message="tns:VerificarEmailClienteResponse"></output>
</operation>
<operation name="agregarImagenCliente" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/agregarImagenClienteRequest" message="tns:agregarImagenCliente"></input>
<output wsam:Action="http://servidor/Publicador/agregarImagenClienteResponse" message="tns:agregarImagenClienteResponse"></output>
</operation>
<operation name="listarProveedoresDatos">
<input wsam:Action="http://servidor/Publicador/listarProveedoresDatosRequest" message="tns:listarProveedoresDatos"></input>
<output wsam:Action="http://servidor/Publicador/listarProveedoresDatosResponse" message="tns:listarProveedoresDatosResponse"></output>
</operation>
<operation name="ObtenerDatosServicio" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/ObtenerDatosServicioRequest" message="tns:ObtenerDatosServicio"></input>
<output wsam:Action="http://servidor/Publicador/ObtenerDatosServicioResponse" message="tns:ObtenerDatosServicioResponse"></output>
</operation>
<operation name="VerificarNickCliente">
<input wsam:Action="http://servidor/Publicador/VerificarNickClienteRequest" message="tns:VerificarNickCliente"></input>
<output wsam:Action="http://servidor/Publicador/VerificarNickClienteResponse" message="tns:VerificarNickClienteResponse"></output>
</operation>
<operation name="ObtenerDatosReserva">
<input wsam:Action="http://servidor/Publicador/ObtenerDatosReservaRequest" message="tns:ObtenerDatosReserva"></input>
<output wsam:Action="http://servidor/Publicador/ObtenerDatosReservaResponse" message="tns:ObtenerDatosReservaResponse"></output>
</operation>
<operation name="devolverProveedor">
<input wsam:Action="http://servidor/Publicador/devolverProveedorRequest" message="tns:devolverProveedor"></input>
<output wsam:Action="http://servidor/Publicador/devolverProveedorResponse" message="tns:devolverProveedorResponse"></output>
</operation>
<operation name="listarReservasXprov">
<input wsam:Action="http://servidor/Publicador/listarReservasXprovRequest" message="tns:listarReservasXprov"></input>
<output wsam:Action="http://servidor/Publicador/listarReservasXprovResponse" message="tns:listarReservasXprovResponse"></output>
</operation>
<operation name="listarPromocionesXprov">
<input wsam:Action="http://servidor/Publicador/listarPromocionesXprovRequest" message="tns:listarPromocionesXprov"></input>
<output wsam:Action="http://servidor/Publicador/listarPromocionesXprovResponse" message="tns:listarPromocionesXprovResponse"></output>
</operation>
<operation name="autenticarProveedor" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/autenticarProveedorRequest" message="tns:autenticarProveedor"></input>
<output wsam:Action="http://servidor/Publicador/autenticarProveedorResponse" message="tns:autenticarProveedorResponse"></output>
</operation>
<operation name="listarServiciosXprov">
<input wsam:Action="http://servidor/Publicador/listarServiciosXprovRequest" message="tns:listarServiciosXprov"></input>
<output wsam:Action="http://servidor/Publicador/listarServiciosXprovResponse" message="tns:listarServiciosXprovResponse"></output>
</operation>
<operation name="listarProveedores">
<input wsam:Action="http://servidor/Publicador/listarProveedoresRequest" message="tns:listarProveedores"></input>
<output wsam:Action="http://servidor/Publicador/listarProveedoresResponse" message="tns:listarProveedoresResponse"></output>
</operation>
<operation name="listarPromociones">
<input wsam:Action="http://servidor/Publicador/listarPromocionesRequest" message="tns:listarPromociones"></input>
<output wsam:Action="http://servidor/Publicador/listarPromocionesResponse" message="tns:listarPromocionesResponse"></output>
</operation>
<operation name="agregarRegistro" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://servidor/Publicador/agregarRegistroRequest" message="tns:agregarRegistro"></input>
<output wsam:Action="http://servidor/Publicador/agregarRegistroResponse" message="tns:agregarRegistroResponse"></output>
</operation>
<operation name="agregarVisita" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/agregarVisitaRequest" message="tns:agregarVisita"></input>
<output wsam:Action="http://servidor/Publicador/agregarVisitaResponse" message="tns:agregarVisitaResponse"></output>
</operation>
<operation name="getImagenUsu">
<input wsam:Action="http://servidor/Publicador/getImagenUsuRequest" message="tns:getImagenUsu"></input>
<output wsam:Action="http://servidor/Publicador/getImagenUsuResponse" message="tns:getImagenUsuResponse"></output>
</operation>
<operation name="devolverCliente">
<input wsam:Action="http://servidor/Publicador/devolverClienteRequest" message="tns:devolverCliente"></input>
<output wsam:Action="http://servidor/Publicador/devolverClienteResponse" message="tns:devolverClienteResponse"></output>
</operation>
<operation name="devolverReserva">
<input wsam:Action="http://servidor/Publicador/devolverReservaRequest" message="tns:devolverReserva"></input>
<output wsam:Action="http://servidor/Publicador/devolverReservaResponse" message="tns:devolverReservaResponse"></output>
</operation>
<operation name="ObtenerReservas">
<input wsam:Action="http://servidor/Publicador/ObtenerReservasRequest" message="tns:ObtenerReservas"></input>
<output wsam:Action="http://servidor/Publicador/ObtenerReservasResponse" message="tns:ObtenerReservasResponse"></output>
</operation>
<operation name="listarReservas">
<input wsam:Action="http://servidor/Publicador/listarReservasRequest" message="tns:listarReservas"></input>
<output wsam:Action="http://servidor/Publicador/listarReservasResponse" message="tns:listarReservasResponse"></output>
</operation>
<operation name="serviciosXcat">
<input wsam:Action="http://servidor/Publicador/serviciosXcatRequest" message="tns:serviciosXcat"></input>
<output wsam:Action="http://servidor/Publicador/serviciosXcatResponse" message="tns:serviciosXcatResponse"></output>
</operation>
<operation name="cancelarReserva">
<input wsam:Action="http://servidor/Publicador/cancelarReservaRequest" message="tns:cancelarReserva"></input>
<output wsam:Action="http://servidor/Publicador/cancelarReservaResponse" message="tns:cancelarReservaResponse"></output>
</operation>
<operation name="EsServicio">
<input wsam:Action="http://servidor/Publicador/EsServicioRequest" message="tns:EsServicio"></input>
<output wsam:Action="http://servidor/Publicador/EsServicioResponse" message="tns:EsServicioResponse"></output>
</operation>
<operation name="getImagenArt" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/getImagenArtRequest" message="tns:getImagenArt"></input>
<output wsam:Action="http://servidor/Publicador/getImagenArtResponse" message="tns:getImagenArtResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://servidor/Publicador/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://servidor/Publicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="datosPromocion" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/datosPromocionRequest" message="tns:datosPromocion"></input>
<output wsam:Action="http://servidor/Publicador/datosPromocionResponse" message="tns:datosPromocionResponse"></output>
</operation>
<operation name="agregarRes" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://servidor/Publicador/agregarResRequest" message="tns:agregarRes"></input>
<output wsam:Action="http://servidor/Publicador/agregarResResponse" message="tns:agregarResResponse"></output>
</operation>
<operation name="serviciosXprov">
<input wsam:Action="http://servidor/Publicador/serviciosXprovRequest" message="tns:serviciosXprov"></input>
<output wsam:Action="http://servidor/Publicador/serviciosXprovResponse" message="tns:serviciosXprovResponse"></output>
</operation>
<operation name="verPerfil">
<input wsam:Action="http://servidor/Publicador/verPerfilRequest" message="tns:verPerfil"></input>
<output wsam:Action="http://servidor/Publicador/verPerfilResponse" message="tns:verPerfilResponse"></output>
</operation>
<operation name="agregarCliente">
<input wsam:Action="http://servidor/Publicador/agregarClienteRequest" message="tns:agregarCliente"></input>
<output wsam:Action="http://servidor/Publicador/agregarClienteResponse" message="tns:agregarClienteResponse"></output>
</operation>
<operation name="listarServicios">
<input wsam:Action="http://servidor/Publicador/listarServiciosRequest" message="tns:listarServicios"></input>
<output wsam:Action="http://servidor/Publicador/listarServiciosResponse" message="tns:listarServiciosResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="actualizarEstadoArticulo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="autenticarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="VerificarEmailCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="agregarImagenCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarProveedoresDatos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="ObtenerDatosServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="VerificarNickCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="ObtenerDatosReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="devolverProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarReservasXprov">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarPromocionesXprov">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="autenticarProveedor">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarServiciosXprov">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarProveedores">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarPromociones">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="agregarRegistro">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="agregarVisita">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getImagenUsu">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="devolverCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="devolverReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="ObtenerReservas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarReservas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="serviciosXcat">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="cancelarReserva">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="EsServicio">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getImagenArt">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="datosPromocion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="agregarRes">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="serviciosXprov">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="verPerfil">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="agregarCliente">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarServicios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:9130/publicadorWeb"></soap:address>
</port>
</service>
</definitions>